tbody tr:hover {
    background-color: lightblue;
}

tbody td {
    border: dotted 1px;
}
body {
    box-sizing: border-box;
}

.trDiv {
    border: 'solid 3px';
    height: '120px';
}

.tableDiv {
    overflow: 'auto';

    border: 'solid 5px';
    margin: '20px';
    font-size: '13px';
}
